body {
    font-family: Arial, sans-serif;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}

.chat-container {
    width: 400px;
    margin: 50px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

#username-container {
    padding: 10px;
    background: #f7f7f7;
    border-bottom: 1px solid #ddd;
    display: flex;
}

#username {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 15pt;
}

#username button {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}



.messages-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    max-height: 400px;
}

#messages {
    list-style-type: none;
    padding: 0;
}

#messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #f1f1f1;
    transition: background 0.2s;
    font-size: 18pt;
}



form {
    display: flex;
    padding: 10px;
    background: #f7f7f7;
    border-top: 1px solid #ddd;
}

form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

form button {
    padding: 10px 15px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

