/* public/style.css */
body {
    background-color: black;
    color: white;
    font-family:'GmarketSansMedium' ;
}


button,input{
    background-color: white;
    color:black;
    font-size: 15pt;
}
ul{
    color:White;
    font-size: 23pt;
    list-style-type: none;
    border: 3pt solid white;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a{
    color:white;
    text-decoration: none;
}
